<footer class="nc-main-footer dcf-wrapper dcf-pt-6 ">
    <div class="footer__notes">
        <p>                    
            <strong>&copy; <%- date(Date.now(), 'YYYY') %> Copyright Natalie Chin. All rights reserved.</strong>
        </p>
        <p class="dcf-txt-xs">
            This site is built with <a href="https://hexo.io/">Hexo</a>. The source code is hosted on <a href="https://github.com/nataliejpchin/nataliech.in">Github</a>.
        </p>

    </div>
</footer>

<!-- Custom JS -->
<%- js('js/script.min.js') %>

