<section class="dcf-wrapper nc-portfolio">
    <div class="dcf-measure">
        <h1 id="typewriter">
            <span class="dcf-uppercase dcf-txt-h5 homepage-greeting">Hello!</span> <br>
            <span class="homepage-name">I'm Natalie Chin.</span>
        </h1>
        <p class="dcf-txt-lg">I am an award-winning, multi-disciplined web designer/developer fluent in both E-learning
            and front-end web development. I love coding and creating designs, especially one that is
            accessible and enhances user experience. On my spare time, I can often be found at code
            meetups and conferences, or hacking away at projects. I am constantly looking for ways to write better
            code and improve my skills.</p>
        <p class="dcf-txt-lg">This is a portfolio highlight of some of the projects that I have worked on. Dig away.</p>
    </div>
</section>

<section class="dcf-wrapper nc-portfolio nc-portfolio-teaser-index dcf-mt-2">
    <h2 style="padding-top:0.4em">My Recent Projects</h2>
    <svg class="nc-curvy dcf-stretch" viewBox="0 0 1 1" preserveAspectRatio="none">
        <path d="M1.1,0.3C1.2,0.1,0.8,1,0.6,0.7C0.4,0.4,0.2,0.4,0,0.7V1h1"></path>
    </svg>
    <ul class="dcf-list-bare nc-portfolio-teaser-wrapper dcf-pt-3">
        <% page.posts.forEach(function(item){ %>
            <%- partial('_partial/portfolio-index', {item: item}) %>
        <% }); %>
    </ul>
</section>
