.nc-card {
    //border: 1px solid rgba($teal, 0.5);
    box-shadow: 1px 1px 5px 0 rgba(0,0,0, 0.3);

    &-preview-image {
        border-bottom: 1px solid rgba($teal, 0.5);
    }

    &-details {
        background-color: $white;
        
        dd {
            padding-left: #{ms(1)}em;
        }
    }
}