.nc-card {
    box-shadow: 1px 1px 5px 0 rgba(0,0,0, 0.3);
    background-color: $white;
    height: 100%;
    padding-bottom: 0;

    &-preview-image {
        border-bottom: 1px solid rgba($teal, 0.5);
    }

    &-details {
        
        dd {
            padding-left: #{ms(1)}em;
        }
    }
}