.nc-curvy {
    position: absolute;
    width: 100vw;
    height: 20vw;
    top: 0;
    left: 0;
    margin-left: 0 !important;
    fill: #67e2c9;
    z-index: -1;

    include mq(sm, max, width) {
        grid-template-columns: 1fr;
    }
}